<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aware.plugin.studentlife.audio_final">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:icon, android:label">

        <service
            android:name="com.aware.plugin.studentlife.audio_final.Plugin"
            android:exported="true"
            android:label="AWARE: Conversations" />

        <service
            android:name="edu.dartmouth.studentlife.AudioLib.AudioService"
            android:exported="true"
            android:label="AWARE: Conversations API" />

        <activity
            android:name="com.aware.plugin.studentlife.audio_final.Settings"
            android:exported="true" />

        <provider
            android:name="com.aware.plugin.studentlife.audio_final.Provider"
            android:authorities="${applicationId}.provider.audio_final"
            android:exported="true"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

    </application>

</manifest>
