<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aware.plugin.studentlife.audio_final">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application>
        <service
            android:name="com.aware.plugin.studentlife.audio_final.Plugin"
            android:exported="true"
            android:label="AWARE: Conversations" />

        <service
            android:name="edu.dartmouth.studentlife.AudioLib.AudioService"
            android:exported="true"
            android:label="AWARE: Conversations API" />

        <activity
            android:name="com.aware.plugin.studentlife.audio_final.Settings"
            android:label="AWARE: Conversation"
            android:exported="true" />

        <provider
            android:name="com.aware.plugin.studentlife.audio_final.Provider"
            android:authorities="${applicationId}.provider.audio_final"
            android:exported="true"
            android:label="@string/plugin_conversations"
            android:readPermission="com.aware.READ_CONTEXT_DATA"
            android:syncable="true"
            android:writePermission="com.aware.WRITE_CONTEXT_DATA" />

        <service
            android:name="com.aware.plugin.studentlife.audio_final.syncadapters.Conversations_Sync"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_conversations" />
        </service>

    </application>

</manifest>
